<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>SimpleIndex Application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Documents Missing Reports</h1>
    <div class="row col-md-7 table-responsive">
        <table id="documentTable" class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>field1</th>
                <th>field2</th>
                <th>field3</th>
                <th>field4</th>
                <th>field5</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="document, rowStat: ${documents}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                <td th:text="${document.id}"></td>
                <td th:text="${document.field1}"></td>
                <td th:text="${document.field2}"></td>
                <td th:text="${document.field3}"></td>
                <td th:text="${document.field4}"></td>
                <td th:text="${document.field5}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>