<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>SimpleIndex Application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Documents Missing Reports</h1>
    <div class="table-responsive">
        <table id="documentTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Cust. No.</th>
                <th>Year</th>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                <th>Month</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <!--<tr th:each="document, rowStat: ${documents}"
                th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'" scope="row">-->
            <tr th:each="document, rowStat: ${documents}" scope="row">
                <!-- <div th:if= "${document.id != 0}">-->
                <td th:text="${document.id}"></td>
                <td th:text="${document.customerNumber}"></td>
                <td th:text="${document.year}"></td>
                <td th:text="${document.invoiceNumber}"></td>
                <td th:text="${document.invoiceDate}"></td>
                <td th:text="${document.month}"></td>
                <td th:text="${document.message}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>